In [12]:
# On import les packages
from dash import Dash, html, dash_table, dcc
import pandas as pd
import plotly.express as px
import numpy as np
import dash_daq as daq
import dash_bootstrap_components as dbc


# On lit le jeu de données des décès en France ligne par ligne
lines = []
with open("data/deces-2023-m08.txt", "r", encoding="utf-8") as file:
    lines.extend(file.readlines())
with open("data/deces-2022-t4.txt", "r", ) as file:
    lines.extend(file.readlines())
# On charge le jeu de données pour pouvoir connaître la position géographique des villes en France
positions_geo = pd.read_csv('data/communes-departement-region.csv', usecols=[0, 1, 5, 6])


# On lit le jeu de données des positions des pays étrangers ligne par ligne
with open("data/positions-pays-étrangers.txt", "r") as file2:
    country_data = file2.readlines()

# On ajoute un 0 dans le cas où les codes on seulement 4 chiffres
positions_geo['code_commune_INSEE'] = positions_geo['code_commune_INSEE'].str.zfill(5)

# Ouvrir jeu de données esperance vie
lines_esperance =[]
with open("data/esperance_vie.txt", "r") as fileEsperance:   
    lines_esperance = fileEsperance.readlines()

# On initialise les listes vides pour chaque colonne du tableau
names = []
gender = []
dob = []
birthplace_code_list = []
birthplace = []
birthplace_details = []
year_list = []
dod = []
deathplace_code = []
death_cert_number = []
noms = []
prenoms = []
Age = []
same_places = []
deathplace = []

# Créez un dictionnaire pour stocker les correspondances deathplace_code_text -> birthplace_text
deathplace_mapping = {}

# Boucle pour extraire les données et trouver les correspondances
for line in lines:
    name = line[0:80].strip()
    nom, prenom = name.split('*')
    prenom = prenom.strip('/')
    gender_code = line[80:81]
    date_year = line[81:85]
    date_month = line[85:87]
    date_day = line[87:89]
    birthplace_code = line[89:94].strip()
    birthplace_text = line[94:124].strip()
    birthplace_details_text = line[124:154].strip()
    date_of_death_year = line[154:158]
    date_of_death_month = line[158:160]
    date_of_death_day = line[160:162]
    deathplace_code_text = line[162:167].strip()
    death_cert_number_text = line[167:176].strip()
    age = int(date_of_death_year) - int(date_year)

    # On doit convertir le code du genre en string
    if gender_code == '1':
        gender_text = "Masculin"
    elif gender_code == '2':
        gender_text = "Féminin"
    else:
        gender_text = "Inconnu"

    if birthplace_details_text == '':
        birthplace_details_text = "FRANCE"

    if deathplace_code_text == birthplace_code:
        new_place = (deathplace_code_text, birthplace_text)
        if new_place not in same_places:
            same_places.append(new_place)

        # Stockez la correspondance dans le dictionnaire
        deathplace_mapping[deathplace_code_text] = birthplace_text

    names.append(name)
    gender.append(gender_text)
    year_list.append(date_year)
    dob.append(date_day + "/" + date_month + "/" + date_year)
    birthplace_code_list.append(birthplace_code)
    birthplace.append(birthplace_text)
    birthplace_details.append(birthplace_details_text)
    dod.append(date_of_death_day + "/" + date_of_death_month + "/" + date_of_death_year)
    deathplace_code.append(deathplace_code_text)
    death_cert_number.append(death_cert_number_text)
    noms.append(nom)
    prenoms.append(prenom)
    Age.append(age)

# Boucle principale pour le traitement des lignes
for line in lines:
    deathplace_code_text = line[162:167].strip()
    deathplace_value = deathplace_mapping.get(deathplace_code_text, "NULL")
    deathplace.append(deathplace_value)

# Créez le tableau à partir des listes créées
data = {
    "Nom": noms,
    "Prenom(s)": prenoms,
    "Sex": gender,
    "Year": year_list,
    "Date of Birth": dob,
    "Age": Age,
    "Birthplace Code": birthplace_code_list,
    "Birthplace": birthplace,
    "Birthplace Details": birthplace_details,
    "Date of Death": dod,
    "Deathplace Code": deathplace_code,
    "Death Certificate Number": death_cert_number,
    "Death Place": deathplace,
}

# Créez le DataFrame avec pandas
df = pd.DataFrame(data)


# On crée un DataFrame avec toute l'information ensemble pour pouvoir comparer les Villes avec leur position géographique
positions_geo.drop_duplicates(inplace=True)
merged_df_death = df.merge(positions_geo, left_on='Deathplace Code', right_on='code_commune_INSEE', how='left')
merged_df_death = merged_df_death.rename(columns={'longitude': 'longitude_death', 'latitude': 'latitude_death'})


merged_df_birth = df.merge(positions_geo, left_on='Birthplace Code', right_on='code_commune_INSEE', how='left')
merged_df_birth = merged_df_birth.rename(columns={'longitude': 'longitude_birth', 'latitude': 'latitude_birth'})

# Fusionnez les données de décès avec les données de naissance en utilisant la colonne "Nom" comme clé
merged_df = merged_df_death.merge(merged_df_birth[['longitude_birth', 'latitude_birth']], left_index=True, right_index=True, how='left')
merged_df.loc[merged_df['Birthplace Details'] != 'FRANCE', ['latitude_birth', 'longitude_birth']] = np.nan

country_coordinates = {}

for line in country_data:
    parts = line.strip().split()
    if len(parts) == 3:
        country = parts[0].replace('*', ' ')
        latitude, longitude = parts[1], parts[2]
        country_coordinates[country] = (latitude, longitude)

def update_coordinates(row):
    country = row['Birthplace Details']
    if country in country_coordinates:
        latitude, longitude = country_coordinates[country]
        row['latitude_birth'] = latitude
        row['longitude_birth'] = longitude
    return row

merged_df = merged_df.apply(update_coordinates, axis=1)
merged_df['density'] = 1

years_esperance_list = []
esperances_hommes_list = []
esperances_femmes_list = []
mortalites_infantiles_list = []

for line in lines_esperance:
    year_esperance = line[0:4]
    esperance_femmes = line[5:9]
    esperance_hommes = line[10:14]

    years_esperance_list.append(year_esperance)
    esperances_hommes_list.append(esperance_hommes)
    esperances_femmes_list.append(esperance_femmes)
# Créez le tableau à partir des listes créées
data_esp = {
    "Year": years_esperance_list,
    "Esperance Hommes": esperances_hommes_list,
    "Esperance Femmes": esperances_femmes_list,
}

# Créez le DataFrame avec pandas
df_esp = pd.DataFrame(data_esp)

# Initialisez l'application Dash
app = Dash(__name__, suppress_callback_exceptions=True, assets_folder='../assets', external_stylesheets=[dbc.themes.DARKLY])

theme = {
    'dark': True,
    'detail': '#007439',
    'primary': '#00EA64',
    'secondary': '#6E6E6E',
}

In [13]:
df_esp

    Year Esperance Hommes Esperance Femmes
0   1950             63,4             69,2
1   1951             63,1             68,9
2   1952             64,4             70,2
3   1953             64,3             70,3
4   1954             65,0             71,2
..   ...              ...              ...
65  2015             79,0             85,1
66  2016             79,3             85,3
67  2017             79,5             85,4
68  2018             79,6             85,5
69  2019             79,8             85,7

[70 rows x 3 columns]

In [2]:
positions_geo[positions_geo.duplicated('code_commune_INSEE')]

Empty DataFrame
Columns: [code_commune_INSEE, nom_commune_postal, latitude, longitude]
Index: []

In [3]:
merged_df_birth = df.merge(positions_geo, left_on='Birthplace Code', right_on='code_commune_INSEE', how='left')
merged_df_birth = merged_df_birth.rename(columns={'longitude': 'longitude_birth', 'latitude': 'latitude_birth'})
grouped_df_birth = merged_df_birth.groupby('Nom').agg({
    'longitude_birth': 'first',  # Utilisez 'first' pour obtenir le premier valeur non nulle.
    'latitude_birth': 'first',   # Utilisez 'first' pour obtenir le premier valeur non nulle.
}).reset_index()

In [4]:
grouped_df_birth

              Nom  longitude_birth  latitude_birth
0                              NaN             NaN
1       AALHADAAY              NaN             NaN
2           AARAB              NaN             NaN
3         AARRASS              NaN             NaN
4         AARROUD              NaN             NaN
...           ...              ...             ...
32261  ZUTTERLING         6.448560       49.187623
32262     ZWENGER              NaN             NaN
32263     ZWISLER         6.847342       43.457463
32264   ZYCHOWICZ         2.913232       49.778445
32265        ZYLA         6.648239       49.119158

[32266 rows x 3 columns]

In [5]:
merged_df_birth.head()

,Nom,Prenom(s),Sex,Date of Birth,Age,Birthplace Code,Birthplace,Birthplace Details,Date of Death,Deathplace Code,Death Certificate Number,Death Place,code_commune_INSEE,nom_commune_postal,latitude_birth,longitude_birth
0,HYVERNAT,CHRISTOPHE,Masculin,07/04/1970,53,71270,MACON,FRANCE,24/08/2023,01004,175,AMBERIEU-EN-BUGEY,71270,MACON,46.320551,4.818425
1,PLENARD,ROLANDE JOSEPHINE,Féminin,14/05/1932,91,01365,SAINT-JEAN-SUR-VEYLE,FRANCE,04/08/2023,01004,160,AMBERIEU-EN-BUGEY,01365,ST JEAN SUR VEYLE,46.268363,4.921984
2,AGUETTAZ,ODETTE PAULE,Féminin,27/04/1918,105,01454,VIRIGNIN,FRANCE,17/08/2023,01004,165,AMBERIEU-EN-BUGEY,01454,VIRIGNIN,45.726739,5.712823
3,MELLOUL,SIMONE,Féminin,07/02/1936,87,99350,RABAT,MAROC,24/08/2023,01004,174,AMBERIEU-EN-BUGEY,NaN,NaN,NaN,NaN
4,MARECHAL,FRANCK TONY,Masculin,02/06/1971,52,01053,BOURG-EN-BRESSE,FRANCE,09/08/2023,01004,162,AMBERIEU-EN-BUGEY,01053,BOURG EN BRESSE,46.205152,5.246021

In [6]:


# Fusionnez les données de décès avec les données de naissance en utilisant la colonne "Nom" comme clé
merged_df = merged_df_death.merge(grouped_df_birth[['Nom', 'longitude_birth', 'latitude_birth']], on='Nom', how='left')

In [7]:
merged_df.head()

,Nom,Prenom(s),Sex,Date of Birth,Age,Birthplace Code,Birthplace,Birthplace Details,Date of Death,Deathplace Code,Death Certificate Number,Death Place,code_commune_INSEE,nom_commune_postal,latitude_death,longitude_death,longitude_birth,latitude_birth
0,HYVERNAT,CHRISTOPHE,Masculin,07/04/1970,53,71270,MACON,FRANCE,24/08/2023,01004,175,AMBERIEU-EN-BUGEY,01004,AMBERIEU EN BUGEY,45.960848,5.372926,4.818425,46.320551
1,PLENARD,ROLANDE JOSEPHINE,Féminin,14/05/1932,91,01365,SAINT-JEAN-SUR-VEYLE,FRANCE,04/08/2023,01004,160,AMBERIEU-EN-BUGEY,01004,AMBERIEU EN BUGEY,45.960848,5.372926,4.921984,46.268363
2,AGUETTAZ,ODETTE PAULE,Féminin,27/04/1918,105,01454,VIRIGNIN,FRANCE,17/08/2023,01004,165,AMBERIEU-EN-BUGEY,01004,AMBERIEU EN BUGEY,45.960848,5.372926,5.712823,45.726739
3,MELLOUL,SIMONE,Féminin,07/02/1936,87,99350,RABAT,MAROC,24/08/2023,01004,174,AMBERIEU-EN-BUGEY,01004,AMBERIEU EN BUGEY,45.960848,5.372926,NaN,NaN
4,MARECHAL,FRANCK TONY,Masculin,02/06/1971,52,01053,BOURG-EN-BRESSE,FRANCE,09/08/2023,01004,162,AMBERIEU-EN-BUGEY,01004,AMBERIEU EN BUGEY,45.960848,5.372926,5.246021,46.205152

In [8]:
merged_df.loc[merged_df['Birthplace Details'] != 'FRANCE', ['latitude_birth', 'longitude_birth']] = np.nan

In [9]:
international_countries = merged_df[merged_df['Birthplace Details'] != 'FRANCE']

In [10]:
international_countries

,Nom,Prenom(s),Sex,Date of Birth,Age,Birthplace Code,Birthplace,Birthplace Details,Date of Death,Deathplace Code,Death Certificate Number,Death Place,code_commune_INSEE,nom_commune_postal,latitude_death,longitude_death,longitude_birth,latitude_birth
3,MELLOUL,SIMONE,Féminin,07/02/1936,87,99350,RABAT,MAROC,24/08/2023,01004,174,AMBERIEU-EN-BUGEY,01004,AMBERIEU EN BUGEY,45.960848,5.372926,NaN,NaN
19,FERNANDES,MARIO,Masculin,03/07/1963,60,99139,MEIMOA,PORTUGAL,03/08/2023,01009,1,NULL,01009,ANDERT ET CONDON,45.787357,5.657883,NaN,NaN
36,SVRZIC,GORAN,Masculin,19/09/1972,51,99121,PARACIN,SERBIE,12/08/2023,01034,209,BELLEY,01034,BELLEY,45.749470,5.684124,NaN,NaN
53,BERNET,ERNESTINE MICHELINE,Féminin,28/02/1924,99,99352,CONSTANTINE,ALGERIE,18/08/2023,01053,460,BOURG-EN-BRESSE,01053,BOURG EN BRESSE,46.205152,5.246021,NaN,NaN
55,DA SILVA,MARIA,Féminin,21/09/1926,97,99139,BUSTELO,PORTUGAL,11/08/2023,01053,441,BOURG-EN-BRESSE,01053,BOURG EN BRESSE,46.205152,5.246021,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52530,AKOUETE,CARINE PAULE,Féminin,07/11/1985,38,99345,LOME,TOGO,12/06/2023,99345,84,ATIGBE-DZOGBEPIME,NaN,NaN,NaN,NaN,NaN,NaN
52533,AGBLAMI,KWAMI LOLA,Masculin,01/01/1947,76,99345,ATIGBE-DZOGBEPIME,TOGO,03/06/2023,99345,81,ATIGBE-DZOGBEPIME,NaN,NaN,NaN,NaN,NaN,NaN
52538,BLISSON,ALAIN,Masculin,14/08/1939,84,99350,CASABLANCA,MAROC,04/08/2023,99350,124,CASABLANCA,NaN,NaN,NaN,NaN,NaN,NaN
52540,ROUSSEAUX,DOMINIC CHRISTOPHE,Masculin,03/10/2014,0,99501,SOUTH BRISBANE,AUSTRALIE,03/10/2014,99501,756,WESTMEAD,NaN,NaN,NaN,NaN,NaN,NaN
52543,GOHE WANDAYE,KAILA YAYA JIAETRE,Féminin,09/05/2023,0,99501,WESTMEAD,AUSTRALIE,30/06/2023,99501,813,WESTMEAD,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
international_countries['Birthplace Details'].unique()

array(['MAROC', 'PORTUGAL', 'SERBIE', 'ALGERIE', 'MARTINIQUE', 'AUTRICHE',
       'MALI', 'PAYS-BAS', 'TOGO', 'SUISSE', 'RUSSIE', 'ESPAGNE',
       'CAMBODGE', 'ITALIE', 'TURQUIE', 'MAURICE', 'HONGRIE', 'BRESIL',
       'VIET NAM', 'LA REUNION', 'POLOGNE', 'TUNISIE',
       'TERRITOIRES DU ROYAUME-UNI AUX', 'BELGIQUE', 'ROYAUME-UNI',
       'ALLEMAGNE', 'GUADELOUPE', 'NOUVELLE-ZELANDE',
       'TCHEQUE (REPUBLIQUE)', 'IRLANDE, OU EIRE', 'GUYANE', 'LIBAN',
       'GRECE', 'SAINT-MARIN', 'EGYPTE', 'SENEGAL', 'INDE', 'SOUDAN',
       'JAPON', 'TANGER', 'MONACO', 'MADAGASCAR', 'ARMENIE', 'CANADA',
       'ROUMANIE', 'UKRAINE', "COTE D'IVOIRE", 'BENIN', 'QATAR',
       'BOSNIE-HERZEGOVINE', 'MOLDAVIE', 'AFRIQUE DU SUD', 'BIELORUSSIE',
       'CAP-VERT', 'CAMEROUN', 'AUSTRALIE', 'ETHIOPIE', 'NAMIBIE',
       'ESTONIE', 'GUINEE', 'GEORGIE', 'IRAN', 'CHINE', 'KENYA',
       'PHILIPPINES', 'ETATS-UNIS', 'LAOS', 'ALBANIE', 'ISRAEL',
       'CONGO (REPUBLIQUE DEMOCRATIQUE', 'BULGARIE', 'SYRIE', 'SLOVAQUIE',
       'COREE', 'COMORES', 'CHILI', 'MAYOTTE',
       'CENTRAFRICAINE (REPUBLIQUE)', 'GABON', 'VIET NAM DU SUD', 'HAITI',
       'CONGO', 'PAKISTAN', 'INDONESIE', 'ANGOLA', 'LUXEMBOURG',
       'MONGOLIE', 'NIGERIA', 'TCHECOSLOVAQUIE', 'COLOMBIE', 'NIGER',
       'THAILANDE', 'KOSOVO', "PROVINCES ESPAGNOLES D'AFRIQUE", 'OUGANDA',
       'BANGLADESH', 'DANEMARK', 'HONG-KONG', 'LETTONIE', 'TCHAD',
       'GUYANA', 'SIERRA LEONE', 'PEROU', 'DOMINICAINE (REPUBLIQUE)',
       'MEXIQUE', 'SUEDE', 'ZIMBABWE', 'SAHARA OCCIDENTAL', 'CROATIE',
       'FINLANDE', 'KAZAKHSTAN', 'CAMEROUN ET TOGO', 'MAURITANIE',
       'BURKINA', 'VENEZUELA', 'SRI LANKA', 'AFGHANISTAN', 'ARGENTINE',
       'OUZBEKISTAN', 'JAMAIQUE', 'ISLANDE', 'BURUNDI', 'AZERBAIDJAN',
       'GHANA', 'RWANDA', 'MONTENEGRO', 'DOMINIQUE', 'SURINAME',
       'TURKMENISTAN', 'LITUANIE', 'EL SALVADOR', 'NORVEGE', 'TANZANIE',
       'IRAQ', 'COREE (REPUBLIQUE DE)', 'MALTE', 'BELIZE', 'SINGAPOUR',
       'ACORES, MADERE', 'ARABIE SAOUDITE', 'GUINEE-BISSAU',
       'VIERGES DES ETATS-UNIS (ILES)', 'SEYCHELLES', 'SLOVENIE',
       'KOWEIT', 'CUBA', 'NEPAL', 'GAMBIE', 'TAIWAN',
       'OCEAN INDIEN (TERRITOIRE BRITA', 'SAINTE-LUCIE',
       'SAINT-VINCENT-ET-LES GRENADINE', 'REPUBLIQUE DEMOCRATIQUE ALLEMA',
       'VANUATU', 'CHYPRE EUROPE'], dtype=object)

In [30]:
def remove_quotes(text):
    return text.strip('"')

country_coordinates = {}

for line in country_data:
    parts = line.strip().split()
    if len(parts) == 3:
        country = remove_quotes(parts[0])
        latitude, longitude = parts[1], parts[2]
        country_coordinates[country] = (latitude, longitude)

def update_coordinates(row):
    country = row['Birthplace Details']
    if country in country_coordinates:
        latitude, longitude = country_coordinates[country]
        row['latitude_birth'] = latitude
        row['longitude_birth'] = longitude
    return row

merged_df = merged_df.apply(update_coordinates, axis=1)

In [35]:
merged_df[merged_df['Birthplace Details'] == 'CAMEROUN ET TOGO'].head()

,Nom,Prenom(s),Sex,Date of Birth,Age,Birthplace Code,Birthplace,Birthplace Details,Date of Death,Deathplace Code,Death Certificate Number,Death Place,code_commune_INSEE,nom_commune_postal,latitude_death,longitude_death,longitude_birth,latitude_birth
30542,CHARAMON,CATHERINE ROBERTE,Féminin,20/03/1948,75,99305,BATOURI,CAMEROUN ET TOGO,22/08/2023,34172,2777,MONTPELLIER,34172,MONTPELLIER,43.613441,3.868517,NaN,NaN
30543,CHARAMON,CATHERINE ROBERTE,Féminin,20/03/1948,75,99305,BATOURI,CAMEROUN ET TOGO,22/08/2023,34172,2777,MONTPELLIER,34172,MONTPELLIER,43.613441,3.868517,NaN,NaN
30544,CHARAMON,CATHERINE ROBERTE,Féminin,20/03/1948,75,99305,BATOURI,CAMEROUN ET TOGO,22/08/2023,34172,2777,MONTPELLIER,34172,MONTPELLIER,43.613441,3.868517,NaN,NaN
30545,CHARAMON,CATHERINE ROBERTE,Féminin,20/03/1948,75,99305,BATOURI,CAMEROUN ET TOGO,22/08/2023,34172,2777,MONTPELLIER,34172,MONTPELLIER,43.613441,3.868517,NaN,NaN
67285,MBEDI PRISO,EBENEZER,Masculin,13/09/1939,84,99305,MESSA YAOUNDE,CAMEROUN ET TOGO,20/08/2023,75119,678,PARIS 19E ARRONDISSEMENT,75119,PARIS 19,48.886869,2.384694,NaN,NaN

In [32]:
merged_df[merged_df['Birthplace Details'] == 'ACORES, MADERE']

,Nom,Prenom(s),Sex,Date of Birth,Age,Birthplace Code,Birthplace,Birthplace Details,Date of Death,Deathplace Code,Death Certificate Number,Death Place,code_commune_INSEE,nom_commune_postal,latitude_death,longitude_death,longitude_birth,latitude_birth
65193,DE PAULO CANHA,MARIA INES,Féminin,10/01/1960,63,99319,"PONTA DO SOL, COMMUNE DE PONTA","ACORES, MADERE",16/08/2023,74012,190,NULL,74012,ANNEMASSE,46.190973,6.242507,NaN,NaN
66979,MORAIS,AIDA DE JESUS,Féminin,27/03/1945,78,99319,"NOSSA SENHORA DA LUZ, SAO VICE","ACORES, MADERE",05/08/2023,75115,2394,PARIS 15E ARRONDISSEMENT,75115,PARIS 15,48.840155,2.293559,NaN,NaN
69305,FERREIRA,ANTONIO,Masculin,08/03/1944,79,99319,LAGE COMMUNE DE VILA VERDE,"ACORES, MADERE",30/07/2023,77048,43,NULL,77048,BOURRON MARLOTTE,48.335261,2.701700,NaN,NaN
69933,GOMES,DOMINGOS,Masculin,30/06/1939,84,99319,SANTA CATARINA,"ACORES, MADERE",25/07/2023,77390,91,NULL,77390,ROISSY EN BRIE,48.790086,2.661224,NaN,NaN

In [28]:
country_coordinates = {}
for line in country_data:
    parts = line.strip().split()
    if len(parts) == 3:
        country, latitude, longitude = parts
        country_coordinates[country] = (latitude, longitude)

In [11]:
merged_df[merged_df['Birthplace'] == 'BORDEAUX']

,Nom,Prenom(s),Sex,Date of Birth,Age,Birthplace Code,Birthplace,Birthplace Details,Date of Death,Deathplace Code,Death Certificate Number,Death Place,code_commune_INSEE,nom_commune_postal,latitude_death,longitude_death,longitude_birth,latitude_birth
1336,JEANSON,TRISTAN JOSEPH MICHEL,Masculin,13/07/2020,3,33063,BORDEAUX,FRANCE,14/08/2023,04070,246,DIGNE-LES-BAINS,04070,DIGNE LES BAINS,44.090872,6.235903,-0.573697,44.857245
1337,JEANSON,TRISTAN JOSEPH MICHEL,Masculin,13/07/2020,3,33063,BORDEAUX,FRANCE,14/08/2023,04070,246,DIGNE-LES-BAINS,04070,DIGNE LES BAINS,44.090872,6.235903,-0.573697,44.857245
2241,SABLIER,MONIQUE PAULETTE,Féminin,30/04/1943,80,33063,BORDEAUX,FRANCE,09/08/2023,06029,891,CANNES,06029,CANNES,43.552620,7.004276,-0.573697,44.857245
2242,SABLIER,MONIQUE PAULETTE,Féminin,30/04/1943,80,33063,BORDEAUX,FRANCE,09/08/2023,06029,891,CANNES,06029,CANNES,43.552620,7.004276,-0.573697,44.857245
5881,BARBE,FABIENNE,Féminin,21/03/1960,63,33063,BORDEAUX,FRANCE,25/07/2023,07276,2,NULL,07276,ST MICHEL D AURANCE,44.898718,4.456759,4.888458,45.770770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89304,DELORT,MARCELLE JEANNE,Féminin,27/05/1940,83,33063,BORDEAUX,FRANCE,03/07/2023,98724,26,HUAHINE,98724,HUAHINE,NaN,NaN,-0.573697,44.857245
89305,DELORT,MARCELLE JEANNE,Féminin,27/05/1940,83,33063,BORDEAUX,FRANCE,03/07/2023,98724,26,HUAHINE,98724,HUAHINE,NaN,NaN,-0.573697,44.857245
89306,DELORT,MARCELLE JEANNE,Féminin,27/05/1940,83,33063,BORDEAUX,FRANCE,03/07/2023,98724,26,HUAHINE,98724,HUAHINE,NaN,NaN,-0.573697,44.857245
89307,DELORT,MARCELLE JEANNE,Féminin,27/05/1940,83,33063,BORDEAUX,FRANCE,03/07/2023,98724,26,HUAHINE,98724,HUAHINE,NaN,NaN,-0.573697,44.857245
90413,CASTANIE,MARC CLAUDE DANIEL,Masculin,13/12/1957,66,33063,BORDEAUX,FRANCE,06/04/2023,99333,1152,MAJUNGA,NaN,NaN,NaN,NaN,2.586446,44.595923

In [36]:
country_coordinates

{'MAROC': ('31.7917', '-7.0926'),
 'PORTUGAL': ('38.7223', '-9.1393'),
 'SERBIE': ('44.7872', '20.4573'),
 'ALGERIE': ('36.7538', '3.0588'),
 'MARTINIQUE': ('14.6415', '-61.0242'),
 'AUTRICHE': ('48.2082', '16.3738'),
 'MALI': ('12.6392', '-8.0029'),
 'PAYS-BAS': ('52.3676', '4.9041'),
 'TOGO': ('6.1228', '1.2275'),
 'SUISSE': ('46.8182', '8.2275'),
 'RUSSIE': ('55.7558', '37.6176'),
 'ESPAGNE': ('40.4168', '-3.7038'),
 'CAMBODGE': ('11.5564', '104.9282'),
 'ITALIE': ('41.9028', '12.4964'),
 'TURQUIE': ('41.0082', '28.9784'),
 'MAURICE': ('-20.3484', '57.5522'),
 'HONGRIE': ('47.4979', '19.0402'),
 'BRESIL': ('-15.7801', '-47.9292'),
 'POLOGNE': ('52.2297', '21.0122'),
 'TUNISIE': ('36.8065', '10.1815'),
 'BELGIQUE': ('50.8503', '4.3517'),
 'ROYAUME-UNI': ('51.5072', '-0.1276'),
 'ALLEMAGNE': ('52.5200', '13.4050'),
 'GUADELOUPE': ('16.2650', '-61.5500'),
 'NOUVELLE-ZELANDE': ('-41.2865', '174.7762'),
 'GUYANE': ('3.9339', '-53.1258'),
 'LIBAN': ('33.8886', '35.4955'),
 'GRECE': ('37.9838', '23.7275'),
 'SAINT-MARIN': ('43.9424', '12.4578'),
 'EGYPTE': ('30.0444', '31.2357'),
 'SENEGAL': ('14.6928', '-17.4467'),
 'INDE': ('28.6139', '77.2090'),
 'SOUDAN': ('15.5007', '32.5599'),
 'JAPON': ('35.682839', '139.759455'),
 'TANGER': ('35.7673', '-5.7998'),
 'MONACO': ('43.7384', '7.4246'),
 'MADAGASCAR': ('-18.8792', '47.5079'),
 'ARMENIE': ('40.1872', '44.5152'),
 'CANADA': ('45.4215', '-75.6919'),
 'ROUMANIE': ('44.4268', '26.1025'),
 'UKRAINE': ('50.4501', '30.5234'),
 'BENIN': ('6.5244', '2.7509'),
 'QATAR': ('25.276987', '51.520008'),
 'BOSNIE-HERZEGOVINE': ('43.8563', '18.4131'),
 'MOLDAVIE': ('47.0269', '28.8415'),
 'BIELORUSSIE': ('53.7098', '27.9534'),
 'CAP-VERT': ('14.9330', '-23.5133'),
 'CAMEROUN': ('3.8480', '11.5021'),
 'AUSTRALIE': ('-35.3082', '149.1244'),
 'ETHIOPIE': ('9.1450', '40.489673'),
 'NAMIBIE': ('-22.5597', '17.0832'),
 'ESTONIE': ('59.4370', '24.7536'),
 'GUINEE': ('9.5183', '-13.7166'),
 'GEORGIE': ('41.7151', '44.8271'),
 'IRAN': ('35.682839', '51.4339'),
 'CHINE': ('39.9042', '116.4074'),
 'KENYA': ('-1.286389', '36.817223'),
 'PHILIPPINES': ('13.4126', '122.5604'),
 'ETATS-UNIS': ('38.895110', '-77.036366'),
 'LAOS': ('17.9757', '102.6331'),
 'ALBANIE': ('41.3275', '19.8187'),
 'ISRAEL': ('31.7683', '35.2137'),
 'BULGARIE': ('42.6977', '23.3219'),
 'SYRIE': ('33.5138', '36.2765'),
 'SLOVAQUIE': ('48.1486', '17.1077'),
 'COREE': ('37.5665', '126.9780'),
 'COMORES': ('-11.6455', '43.3333'),
 'CHILI': ('-33.4489', '-70.6693'),
 'MAYOTTE': ('-12.8275', '45.1662'),
 'GABON': ('-0.3904', '9.4574'),
 'HAITI': ('18.5944', '-72.3074'),
 'CONGO': ('-4.2767', '15.2669'),
 'PAKISTAN': ('33.6844', '73.0479'),
 'INDONESIE': ('-6.2088', '106.8456'),
 'ANGOLA': ('-8.8277', '13.2439'),
 'LUXEMBOURG': ('49.6116', '6.1319'),
 'MONGOLIE': ('47.9214', '106.9057'),
 'NIGERIA': ('9.0820', '8.6753'),
 'TCHECOSLOVAQUIE': ('50.0755', '14.4378'),
 'COLOMBIE': ('4.6097', '-74.0817'),
 'NIGER': ('13.5127', '2.1127'),
 'THAILANDE': ('13.7563', '100.5018'),
 'KOSOVO': ('42.6026', '20.9029'),
 'OUGANDA': ('0.3136', '32.5812'),
 'BANGLADESH': ('23.8103', '90.4125'),
 'DANEMARK': ('55.6761', '12.5683'),
 'HONG-KONG': ('22.3964', '114.1095'),
 'LETTONIE': ('56.9496', '24.1052'),
 'TCHAD': ('12.1342', '15.0557'),
 'GUYANA': ('6.8013', '-58.1551'),
 'PEROU': ('-12.0464', '-77.0428'),
 'MEXIQUE': ('19.4326', '-99.1332'),
 'SUEDE': ('59.3293', '18.0686'),
 'ZIMBABWE': ('-17.8292', '31.0522'),
 'CROATIE': ('45.8150', '15.9819'),
 'FINLANDE': ('60.1699', '24.9384'),
 'KAZAKHSTAN': ('51.1657', '71.4467'),
 'MAURITANIE': ('18.0735', '-15.9582'),
 'BURKINA': ('12.6392', '-1.5642'),
 'VENEZUELA': ('10.4806', '-66.9036'),
 'AFGHANISTAN': ('34.5553', '69.2075'),
 'ARGENTINE': ('-34.6118', '-58.4173'),
 'OUZBEKISTAN': ('41.2995', '69.2401'),
 'JAMAIQUE': ('18.0182', '-76.7465'),
 'ISLANDE': ('64.1466', '-21.9426'),
 'BURUNDI': ('-3.3792', '29.3600'),
 'AZERBAIDJAN': ('40.4093', '49.8671'),
 'GHANA': ('5.6037', '-0.1870'),
 'RWANDA': ('-1.9403', '29.8739'),
 'MONTENEGRO': ('42.7087', '19.3744'),
 'DOMINIQUE': ('15.2976', '-61.3900'),
 'SURINAME': ('5.8667', '-55.1667'),
 'TURKMENISTAN': ('37.9601', '58.3261'),
 'LITUANIE': ('54.6872', '25.2797'),
 'NORVEGE': ('59.9139', '10.7522'),
 'TANZANIE': ('-6.369028', '34.888822'),
 'IRAQ': ('33.3152', '44.3661'),
 'MALTE': ('35.8989', '14.5146'),
 'BELIZE': ('17.4980', '-88.1889'),
 'SINGAPOUR': ('1.3521', '103.8198'),
 'GUINEE-BISSAU': ('11.8646', '-15.5820'),
 'SEYCHELLES': ('-4.6796', '55.4919'),
 'SLOVENIE': ('46.0569', '14.5058'),
 'KOWEIT': ('29.3759', '47.9774'),
 'CUBA': ('23.1136', '-82.3666'),
 'NEPAL': ('27.7172', '85.3240'),
 'GAMBIE': ('13.4554', '-16.5775'),
 'TAIWAN': ('25.0329', '121.5654'),
 'SAINTE-LUCIE': ('13.9094', '-60.9789'),
 'VANUATU': ('-17.7431', '168.3213')}

In [13]:
# On import les packages
from dash import Dash, html, dash_table, dcc
import pandas as pd
import plotly.express as px
import numpy as np

# On lit le jeu de données des décès en France ligne par ligne
lines = []
with open("./deces-2023-m08.txt", "r") as file:
    lines = file.readlines()

# On charge le jeu de données pour pouvoir connaître la position géographique des villes en France
positions_geo = pd.read_csv('communes-departement-region.csv', usecols=[0, 1, 5, 6])


# On lit le jeu de données des positions des pays étrangers ligne par ligne
with open("./positions-pays-étrangers.txt", "r") as file2:
    country_data = file2.readlines()

# On ajoute un 0 dans le cas où les codes on seulement 4 chiffres
positions_geo['code_commune_INSEE'] = positions_geo['code_commune_INSEE'].str.zfill(5)


# On initialise les listes vides pour chaque colonne du tableau
names = []
gender = []
dob = []
birthplace_code_list = []
birthplace = []
birthplace_details = []
dod = []
deathplace_code = []
death_cert_number = []
noms = []
prenoms = []
Age = []
same_places = []
deathplace = []

# Créez un dictionnaire pour stocker les correspondances deathplace_code_text -> birthplace_text
deathplace_mapping = {}

# Boucle pour extraire les données et trouver les correspondances
for line in lines:
    name = line[0:80].strip()
    nom, prenom = name.split('*')
    prenom = prenom.strip('/')
    gender_code = line[80:81]
    date_year = line[81:85]
    date_month = line[85:87]
    date_day = line[87:89]
    birthplace_code = line[89:94].strip()
    birthplace_text = line[94:124].strip()
    birthplace_details_text = line[124:154].strip()
    date_of_death_year = line[154:158]
    date_of_death_month = line[158:160]
    date_of_death_day = line[160:162]
    deathplace_code_text = line[162:167].strip()
    death_cert_number_text = line[167:176].strip()
    age = int(date_of_death_year) - int(date_year)

    # On doit convertir le code du genre en string
    if gender_code == '1':
        gender_text = "Masculin"
    elif gender_code == '2':
        gender_text = "Féminin"
    else:
        gender_text = "Inconnu"

    if birthplace_details_text == '':
        birthplace_details_text = "FRANCE"

    if deathplace_code_text == birthplace_code:
        new_place = (deathplace_code_text, birthplace_text)
        if new_place not in same_places:
            same_places.append(new_place)

        # Stockez la correspondance dans le dictionnaire
        deathplace_mapping[deathplace_code_text] = birthplace_text

    names.append(name)
    gender.append(gender_text)
    dob.append(date_day + "/" + date_month + "/" + date_year)
    birthplace_code_list.append(birthplace_code)
    birthplace.append(birthplace_text)
    birthplace_details.append(birthplace_details_text)
    dod.append(date_of_death_day + "/" + date_of_death_month + "/" + date_of_death_year)
    deathplace_code.append(deathplace_code_text)
    death_cert_number.append(death_cert_number_text)
    noms.append(nom)
    prenoms.append(prenom)
    Age.append(age)

# Boucle principale pour le traitement des lignes
for line in lines:
    deathplace_code_text = line[162:167].strip()
    deathplace_value = deathplace_mapping.get(deathplace_code_text, "NULL")
    deathplace.append(deathplace_value)

# Créez le tableau à partir des listes créées
data = {
    "Nom": noms,
    "Prenom(s)": prenoms,
    "Sex": gender,
    "Date of Birth": dob,
    "Age": Age,
    "Birthplace Code": birthplace_code_list,
    "Birthplace": birthplace,
    "Birthplace Details": birthplace_details,
    "Date of Death": dod,
    "Deathplace Code": deathplace_code,
    "Death Certificate Number": death_cert_number,
    "Death Place": deathplace,
}

# Créez le DataFrame avec pandas
df = pd.DataFrame(data)


# On crée un DataFrame avec toute l'information ensemble pour pouvoir comparer les Villes avec leur position géographique
# Realizar la fusión para las coordenadas de muerte
positions_geo.drop_duplicates(inplace=True)
merged_df_death = df.merge(positions_geo, left_on='Deathplace Code', right_on='code_commune_INSEE', how='left')
merged_df_death = merged_df_death.rename(columns={'longitude': 'longitude_death', 'latitude': 'latitude_death'})


merged_df_birth = df.merge(positions_geo, left_on='Birthplace Code', right_on='code_commune_INSEE', how='left')
merged_df_birth = merged_df_birth.rename(columns={'longitude': 'longitude_birth', 'latitude': 'latitude_birth'})

grouped_df_birth = merged_df_birth.groupby('Nom').agg({
    'longitude_birth': 'first',  # Utilisez 'first' pour obtenir le premier valeur non nulle.
    'latitude_birth': 'first',   # Utilisez 'first' pour obtenir le premier valeur non nulle.
}).reset_index()


# Fusionnez les données de décès avec les données de naissance en utilisant la colonne "Nom" comme clé
merged_df = merged_df_death.merge(grouped_df_birth[['Nom', 'longitude_birth', 'latitude_birth']], on='Nom', how='left')
merged_df.loc[merged_df['Birthplace Details'] != 'FRANCE', ['latitude_birth', 'longitude_birth']] = np.nan

country_coordinates = {}

for line in country_data:
    parts = line.strip().split()
    if len(parts) == 3:
        country = parts[0].replace('*', ' ')
        latitude, longitude = parts[1], parts[2]
        country_coordinates[country] = (latitude, longitude)

    
def update_coordinates(row):
    country = row['Birthplace Details']
    if country in country_coordinates:
        latitude, longitude = country_coordinates[country]
        row['latitude_birth'] = latitude
        row['longitude_birth'] = longitude
    return row

merged_df = merged_df.apply(update_coordinates, axis=1)
merged_df['density'] = 1

# Initialisez l'application Dash
app = Dash(__name__, suppress_callback_exceptions=True)

# App layout
def Accueil_layout():
    return html.Div([
        html.Iframe(srcDoc=open('emmanuel.html',"r").read(), style={'border': 'none', 'width': '100%', 'height': '100vh'})
    ])

def page1_layout():
    return html.Div([
        html.Div(
            html.H1("Tableau",
                    style = {"font-family" : "verdana"}),
            style = { "background-color" : "antiquewhite"}),
        dash_table.DataTable(data=df.to_dict('records'), page_size=10),

        html.Div(
            html.H1("Tableau",
                    style = {"font-family" : "verdana"}),
            style = { "background-color" : "antiquewhite"}),
        dash_table.DataTable(data=merged_df.to_dict('records'), page_size=10),
        ])

In [14]:
country_coordinates

{'LA REUNION': ('-21.1151', '55.5364')}